<h3>Layout.css</h3>
<pre>
body {
    min-height: 100vh;
    margin-block: 0;
    display: grid;
    grid-template-columns: minmax(auto, 50rem);
    grid-template-rows: auto 1fr auto;
    justify-content: center;
}

body>header, main, body>footer {
    padding: 1rem;
}
</pre>